 :root{
    --color-primary:#0073ff;
    --color-white: #e9e9e9;
    --color-black: #141d28;
    --color-black-1:#212b38;
    --color-green : #228B22;
 }
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

body{
    font-family: sans-serif ;
    background-image: url('foto foto/background hutan gelap.jpg');

    transition: opacity 0.7s ease;
    opacity: 1;
   
}

.menu_bar {
    background-color: var(--color-primary);
    height: 80px;
    width: 100%;
    max-width: 5000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    background-image: url('foto foto/background hutan gelap.jpg');
    position: relative;
    z-index: 10000;
}
.logo{
    color: var(--color-white);
    font-size: 30px;
}

.logo span{
    color:var(--color-green)
}

.menu_bar ul{
    list-style: none;
    display: flex;
}

.menu_bar ul li{
    padding: 0;
    position: relative;
}

.menu_bar ul li a {
    color: var(--color-white);
    text-decoration: none;
    font-size: 20px;
    display: block;
    padding: 20px 20px;
}

.glow-text {
    color: white;
    text-shadow: 
    0 0 10px #e9e9e9,
    0 0 10px #e9e9e9,
    0 0 10px #e9e9e9,
    0 0 80px #e9e9e9;
    font-weight: bold;

    font-size: 100px;
}
.centerbox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 850px;
    position: relative;
    z-index: 1;
}

.big-text{
    text-align: center;
}

.content-box {
    text-align: center;
}

.next-button {
    display: inline-block;
    margin-top: 40px;
    font-size: 150px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s;
    text-shadow: 0 0 10px white;
}

.next-button:hover {
    transform: scale(1.2);
}

.fade-out {
    opacity: 0;
    transition: opacity 0.7s ease;
}

.image-row {
    display: flex ;
    justify-content: center;
    gap: 460px;
    margin-top: 150px;
    flex-wrap: wrap;
}
    

.image-link img {
    width: 100%;
    max-width: 450px;
    height: auto;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    
    
}

.image-link img:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 40px rgba(0,0,0,0.7);
}.center-image-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    height: calc(100vh - 80px);
    width: 10%;
    min-width: 10px;
}

.image-link {
    position: relative;
    display: inline-block;
}
.image-text {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0,0,0,0.6);
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;

    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-link:hover .image-text {
    opacity: 1;
}



.image-text:hover{
    background-color: rgba(0,0,0,0.9);
}

